.notich-box {
  max-width: 620px;
  margin: auto;
  overflow: hidden;
  background: #ebebeb;
  padding-bottom: 10px;
  padding-right: 5px;
  margin-bottom: 10px;
  height: 380px;
}
.notich-box ul {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
}
.notich-box ul li {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  list-style: none;
}
.notich-box li:before {
  content: "\f18e";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -2.5em;
  width: 1.3em;
}
.notich-box ul li a {
  font-size: 15px;
  color: #3e3d3c;
  line-height: auto;
  text-decoration: none;
}
.notich-box ul li a:hover {
  color: blue;
}