.main {
    position: static !important;
}
.mainSticky {
    position: -webkit-sticky !important;
}
.top {
    position: static !important;
}
.logotext{
    font-size:16px !important;
}
@media (max-width:600px){.logotext{font-size:12px !important;}}